// #map-canvas
// {
//   height: 250px;
//   width: 250px;
//   border: 1px solid black;
// }
html, body {
  background-color: #BEF4E0;
}

h1 {
  color: #48A9BF;
}

.center {
  text-align: center;
}

#stage-outline {
  margin-top: 100px;
  margin: 0 auto;
  width: 450px;
  height: 125px;
  background-color: #5BBF9B;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

#stage-outline > h3 {
  padding-top: 40px;
  color: #fff;
}