html, body {
  background-color: #BEF4E0; }

footer {
  margin: 20px 5px;
  color: #8DC2A5; }

h1 {
  color: #6A918A;
  text-shadow: 1px 1px 1px #C7FFEA; }

.seat {
  background-color: #999; }

.center {
  text-align: center; }

#stage-outline {
  margin-top: 100px;
  margin: 0 auto;
  width: 450px;
  height: 125px;
  background-color: #5BBF9B;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px; }

#stage-outline > h3 {
  padding-top: 40px;
  color: #fff; }

#vip {
  width: 600px; }

#vip, #ga {
  margin: 0 auto;
  margin-top: 50px; }

#vip > div, #ga > div {
  width: 30px;
  height: 30px;
  margin: 5px;
  float: left;
  font-size: 8px;
  color: #fff; }

.reserved {
  background-color: #71E7FF; }
